* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #779556;
  --color-light: #ebecd0;
  --color-active: #fffc4980;
  --color-invalid: rgba(252, 130, 99, 0.61);
  --piece-dark: #575452;
  --piece-light: #f9f9f9;
  --background-light: #312e2b;
  --background-dark: #272522;
  --white: #fff;
  --black: #222;
  --square-length: 85px;
  /* 85px by default square length */
}

body {
  font-family: 'roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

.header,
.footer {
  height: 10vh;
  background-color: var(--background-dark);
}

.board-container {
  height: 80vh;
  background-color: var(--background-light);
  display: grid;
  place-items: center;
}

.header-content {
  color: var(--white);
  text-align: center;
  padding-top: 1rem;
}

.board {
  display: flex;
  flex-wrap: wrap-reverse;
  width: calc(var(--square-length) * 8);
  height: calc(var(--square-length) * 8);
}

.square {
  width: var(--square-length);
  height: var(--square-length);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.white {
  color: var(--piece-light);
  text-shadow: 0 0 4px var(--black);
}
.black {
  color: var(--piece-dark);
}

.dark {
  background-color: var(--color-dark);
}
.light {
  background-color: var(--color-light);
}

.active:before {
  /* content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-active);
  position: absolute;
  */
}

i {
  z-index: 100;
  position: absolute;
}
